<ion-view view-title="Playlist">
  <ion-content class="padding text-center">
    <button class="button" ng-click="media()">
      <i class="ion-play" ng-if="!isPlaying"></i>
      <i class="ion-pause" ng-if="isPlaying"></i>
    </button>

    <button class="button" ng-click="stop()">
      <i class="ion-stop"></i>
    </button>

    <div class="padding-vertical range">
      <input type="range" name="volume" ng-model="audioVal" ng-change="seek(audioVal)" min="0" />
    </div>

    <div class="padding-vertical">
      <button class="button button-energized" ng-click="seek(10)">Seek</button>
    </div>
  </ion-content>
</ion-view>
